@using DönemBitirme.Models
@model List<GetEmployee_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2> Employee </h2>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Employee Name </th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.EmployeeName</td>

                <td>
                    <a href="/Employee/DeleteEmployee/@item.EmployeeId" class="btn btn-danger">Delete</a>
                    <a href="/Employee/ViewEmployee/@item.EmployeeId" class="btn btn-success">Güncelle</a>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="/Employee/CreateEmployee" class="btn btn-success">Add</a>
