@using DönemBitirme.Models
@model List<GetAuthor_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Author</h2>


<table class="table">
    
    <thead class="thead-dark">
        <tr>
            <th scope="col">Author Name</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>

                <td>@item.AuthorName</td>

                <td>
                    <a href="/Author/DeleteAuthor/@item.AuthorId" class="btn btn-danger">Delete</a>
                    <a href="/Author/ViewAuthor/@item.AuthorId" class="btn btn-success"> Update</a>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Author/CreateAuthor" class="btn btn-success"> Add </a>
