@model DönemBitirme.Models.Category

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Create Category</h2>



<form class="form-group" method="post">
    <div>
        <label> Category Name</label>
        @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1"> Adding </button>
    </div>
</form>